MEMORY {
    P0:  file = "", start = $0000, size = $0100, type = rw;
    P1:  file = "", start = $0100, size = $0080, type = rw;
    P2:  file = "", start = $0200, size = $0600, type = rw;
    HDR: file = %O, start = $0000, size = $0010, type = ro, fill = yes;
    PRG: file = %O, start = $8000, size = $8000, type = ro, fill = yes;
    CHR: file = %O, start = $0000, size = $2000, type = ro, fill = yes, fillval = $AA;
}
SEGMENTS {
    PSTACK:   type = zp, load = P0; # at 0 for aesthetics
    ZEROPAGE: type = zp, load = P0;
#   RSTACK:   type = bss, load = P1; # could reuse low bytes
    QUEUE:    type = bss, load = P2, start = $200; # must align!
    BSS:      type = bss, load = P2;
    RAMVEC:   type = bss, load = P2, start = $3FB;
    INES:     type = ro, load = HDR;
    DICT:     type = ro, load = PRG, start = $8000;
    CODE:     type = ro, load = PRG;
    RODATA:   type = ro, load = PRG;
    ROMVEC:   type = ro, load = PRG, start = $FFFA;
    FONT:     type = ro, load = CHR;
}
